
body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 36px;
    margin: 0;
}


.menu-item {
    position: relative;
    margin: 20px auto;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    width: 90%; 
}


.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    color: white;
    border: 1px solid black;
}

.chicken {
    background-color: lightgreen;
}

.beef {
    background-color: brown;
}

.sushi {
    background-color: pink;
}

.content {
    margin-top: 40px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .menu-item {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    .section-title {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-item {
        width: 48%;
        display: inline-block;
        margin: 10px 1%;
    }

    h1 {
        font-size: 32px;
    }

    .section-title {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    .menu-item {
        width: 30%;
        display: inline-block;
        margin: 10px 1%;
    }

    h1 {
        font-size: 36px;
    }

    .section-title {
        font-size: 1.5em;
    }
}
